<div class="text-layout">
    <h1>Pipes no comunes</h1>
    <p>Pipes incluidos en Angular - Usualmente en el Common Module</p>
</div>

<div class="row text-layout">

    <div class="col s12 m6 padding5">
        <p-fieldset legend="i18Select Pipe" [toggleable]="true">
            Saludos {{nombre}}, es un placer {{genero | i18nSelect:invitacionObj}} a nuestro evento.
        </p-fieldset>
    </div>

    <div class="col s2 m6">
        <p-fieldset legend="i18nPuralpipe" [toggleable]="true">
            Actualmente tenemos {{clientes.length | i18nPlural:clientesMap}} cliente esperando
        </p-fieldset>
    </div>

</div>