<div class="row text-layout">

  <div class="col s12">
    <h1>Pipes Personalizados</h1>
    <p>Pipes creados por {{'nostros' | mayusculas:mayuscula}}</p>
  </div>
  <button pButton pRipple label="Cambiar" class="p-button-raised p-button-secondary" (click)="cambiar()">
  </button>

  <div class="col s12">
    <p-toolbar>

      <div class="p-toolbar-group-left">
      </div>

      <div class="p-toolbar-group-right">
        <button pButton
                label="Toggle mayuscula"
                (click)="cambiar()">
        </button>
        &nbsp;
        <button pButton
                class="p-button-help"
                icon="pi pi-sort"
                label="Por nombre"
                (click)="cambiarOrden('nombre')">
        </button>
        &nbsp;
        <button pButton
                class="p-button-success"
                icon="pi pi-sort"
                label="Vuela"
                (click)="cambiarOrden('vuela')">
        </button>
        &nbsp;
        <button pButton
                class="p-button-warning"
                icon="pi pi-sort"
                label="Color"
                (click)="cambiarOrden('color')">
        </button>
      </div>
    </p-toolbar>
  </div>

  <div class="col s12 padding5">
    <p-table [value]="heroes | ordenar:ordenarPor">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Vuela</th>
          <th>Color</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-heroe>
        <tr>
          <td>{{heroe.nombre}}</td>
          <td>{{heroe.vuela | vuela}}</td>
          <td>{{heroe.color}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="col s12 padding5">
    <p-table [value]="heroes | slice:0">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nombre">Nombre<p-sortIcon field="nombre"></p-sortIcon></th>
          <th pSortableColumn="vuela">Vuela<p-sortIcon field="vuela"></p-sortIcon></th>
          <th pSortableColumn="color">Color<p-sortIcon field="color"></p-sortIcon></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-heroe>
        <tr>
          <td>{{heroe.nombre}}</td>
          <td>{{heroe.vuela | vuela}}</td>
          <td>{{heroe.color}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
